.gallery-controls {
    .gallery-button {
        &,
        &:hover,
        &:focus,
        &:active {
            background-color: $white !important;

            .icon {
                fill: $black !important; // sass-lint:disable-line no-important
            }
        }

        &:focus {
            outline-offset: 0.25rem !important;
            outline: .15rem dotted $white !important;
        }
    }
}

.modal-content {
    strong {
        color: $white;

        &.is-block {
            font-weight: 400;
        }
    }

    a {
        color: $white;
        text-decoration: underline;

        &:hover {
            color: $white !important;
        }

        &:focus {
            outline-color: $white !important;
        }
    }

    .slide-deck,
    .slide-deck .slide {
        figure {
            width: fit-content;
            margin-left: auto !important;
            margin-right: auto !important;

            figcaption {
                margin-top: 0;

                p {
                    max-width: fit-content;
                }
            }
        }
    }
}

.button.modal-close-button {
    &:hover {
        outline: none !important;
    }

    &:focus {
        outline: .15rem dotted $white !important;
    }
}
