/*
 * Theme Name:  TMS Theme Milavida
 * Description: Tampere Multisite Milavida Theme
 * Version:     1.6.0
 * Author:      Geniem
 * Author URI:  https://geniem.fi
 * Template:    tms-theme-base
 * Text Domain: tms-theme-milavida
 */
