@import "functions";

// All Tampere brand colors
$color-white: #ffffff;
$color-black: #000000;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-milavida-grey: #939598;
$color-milavida-grey-dark: #58585a;
$color-milavida-black: #231f20;
$color-tekstin-vari: #231f20;

$color-ui-border: #58585a;
$color-ui-border-light: #767676;

$color-gray: #a6a7ac;
$color-vaalean-harmaa: #A6A7AC;
$color-tumma-harmaa: #585857;
