.subpages {
    .post-link {
        border: 1px solid $primary-invert;

        .icon {
            fill: currentColor !important;
        }

        .h5 {
            color: currentColor !important;
            letter-spacing: .01em;
            line-height: 141%;
            text-transform: none;
        }

        &.has-background-image {
            border: none !important;
        }

        &.has-text-primary-invert {
            color: $primary-invert !important;

            &:hover,
            &:focus {
                color: $primary !important;
            }
        }

        &.has-background-primary-invert,
        &.has-background-image {
            color: $primary !important;
        }
    }
}
