.subpages {
    .post-link {
        border: 1px solid $primary-invert;

        .icon {
            fill: currentColor !important;
        }

        .h5 {
            color: currentColor !important;
            letter-spacing: .01em;
            line-height: 141%;
            text-transform: none;
        }

        &.has-background-image {
            border: none !important;
        }

        &.has-text-primary-invert {
            &,
            &:hover,
            &:focus,
            &:active {
                color: $primary-invert !important;
                background-color: $primary !important;
            }
        }

        &.has-background-primary-invert,
        &.has-background-image {
            &,
            &:hover,
            &:focus,
            &:active {
                color: $primary !important;
            }
        }
    }
}
